/*CSS DOCUMENT*/
@CHARSET "UTF-8";

h1 {
    font-family: "pt-serif-bold", serif; /* las fuentes no funcionan porque así no se escribe, fijate en la documentación de google fonts que las indicaciones son distintas*/
    color: #f4f6f6;
    text-align: center;
}

h2 {
    font-family: "pt-serif-bold-italic", serif;
    color: #10969b;
    text-align: justify;
}

h3 {
    font-family: "pt-serif-regular-italic", serif;
    font-size: 17px;
    color: #033a47;
    text-align: justify;
}

p {
    font-family: "pt-serif-regular", serif;
    color: #000000;
    text-align: justify;
}

body {
    background-color: #fbeade;

    p {
        text-wrap: square;
    }
h2,h3{
        margin-left: 25px;
        margin-right: 25px;
    }
    p,ul {
        margin-left: 40px;
        margin-right: 40px;
    }
}

#yo {
    background-image: url("encabezado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

#yo h1,
#yo p {
    text-align: center;
}
#pie-de-pagina {
    background: radial-gradient(circle, #f28b95, #f2294b);
    padding: 10px;
    text-align: center;
}
#pie-de-pagina p {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}